body{
	margin: 0px;
}
/* 
    Created on : 17-mrt-2014, 14:58:29
    Author     : g.v.lankveld
*/

html {
    font-family: Helvetica, Arial, sans-serif
}

h1 {

    color: #FFB6C1;
    text-shadow: 0 0 0.2em #000;
    -moz-text-shadow: 0 0 0.2em #000;
    -webkit-text-shadow: 0 0 0.2em #000;
}

.centre-container {
    margin: auto;
    text-align: center;
}


nav{
	background-color: #F5F5DC;
	padding: 15px;
    
    border-radius: 10px;
    height: 40px;
}

nav a{
	color: #FF8C00;
	font-size: 100%;
	
	text-decoration: none;
	font-weight: 700;
}

nav a:hover{
	background-color: black;
	color: white;
	border-radius: 10px;
}

.navbar{
	
	display: flex;
	 

}
.logo{
 width: 20%;

 padding: 0px;
 margin-left: 2%;
 
}
.logo img{
	width:78%;
	 
}
.menubar{
	width: 80%;
	background-color: #DEB887;
	border-radius: 10px;

	

}
.menubar ul{
	list-style: none;
	padding: 10px;
	font-size: 150%;
	font-weight: 800;
	display: flex;
	text-align: center;
}
.menubar ul li a{
	padding: 20px;
	text-decoration: none;
	color: #000000;
}






footer{
	width: 100%;
	border-radius: 10px;

}

footer section{
	width: 100%;
	background-color: #D8BFD8;
	padding: 5px;
    text-align: center;
    border-radius: 10px;
    display: flex;

}
footer section div{
	width: 40%;
	padding: 0px;
} 

.div1{
	font-size: 120%;
	margin-left: 8%;
	margin-right:2%;

	
}
.div2{
	font-size: 120%;
	font-weight: 500;
	margin-left:2%; 
	margin-right:8%;
	color: #FF4500;
}


	




